  <div ng-controller="informeTunelInterestacionOrienteCtrl">

     <div class="row responsive-sm">

        <div class="col col-50">
            <label class="item item-input item-select">
                <span class="input-label">Pique</span>

                <select  ng-change="tunel_int_oriente.tipo_pique = tunel_int_oriente.pique.tipo_pique"  ng-model="tunel_int_oriente.pique" ng-options="item.pique for item in piques">
                    <option value=''>Selecciona un Pique</option>
                </select>

            </label>
        </div>

        <div class="col col-50">
            <label class="item item-input">
                <span class="input-label">Tipo Pique</span>
                <input type="text" ng-model="tunel_int_oriente.tipo_pique">
        </div>

    </div>


    <div class="row responsive-sm">
        <div class="col col-75">
            <button class="button button-dark" ng-click="agregarSecuencia()">Añadir Side Drift - Secuencia </button>
        </div>
    </div>


    <div class="row responsive-sm" ng-repeat="sec in secuenciaTunelIntOriente">

            <div class="col">
                {{$index+1}}
            </div>


            <div class="col">

                <label class="item item-input item-select">
                    <span class="input-label">Secuencia</span>
                    <select ng-model="sec.secuencia">
                        <option></option>
                        <option value="{{sec}}" ng-repeat="sec in secuencias">{{sec}}</option>
                    </select>
                </label>

            </div>

            <div class="col">

                <label class="item item-radio">
                    <input type="radio" name="group"  ng-value="{{$index}}" ng-click="relacionar($index)">
                    <div class="item-content">
                      Relacion
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>

            </div>
    </div>


    <div class="row responsive-sm">
        <div class="col">

            <div class="list">
              <label class="item item-input item-stacked-label item-select">
                <span class="input-label">Selecciona Actividad {{galeria_acceso.relacion}}</span>
                    <select ng-change="agregarActividades()"  ng-model="actividad" ng-options="color.nombre for color in actividades"><option value=''></option></select>
              </label>
            </div>

        </div>
    </div>



  <div class="row responsive-sm">
        <div class="col col-table">N°</div>
        <div class="col col-table">Actividad</div>
        <div class="col col-table">Marco Inicial</div>
        <div class="col col-table">Hora Inicial</div>
        <div class="col col-table">Marco Final</div>
        <div class="col col-table">Hora final</div>
        <div class="col col-table">Distancia entre marco</div>
        <div class="col col-table">Secuencia</div>
        <div class="col col-table"></div>
  </div>




  <div class="row responsive-sm" ng-repeat="act in  actividadesTunelIntOriente">
      <div class="col col-table">
          {{$index+1}}
      </div>

      <div class="col col-table">
            {{ act.actividad }}
      </div>

      <div class="col col-table">
          <input type="text" ng-model="act.marco_inicial">
      </div>

      <div class="col col-table">
          <input type="text" ng-model="act.hora_inicial">
      </div>

      <div class="col col-table">
          <input type="text" ng-model="act.marco_final">
      </div>

      <div class="col col-table">
          <input type="text" ng-model="act.hora_final">
      </div>

      <div class="col col-table">
          <input type="text" ng-model="act.distancia">
      </div>


      <div class="col col-table">
        {{act.secuencia}}
      </div>

      <div class="col col-table">
          <button class="button button-assertive"  ng-click="eliminarActividad($index)">
                  Eliminar
          </button>
      </div>
  </div>


  </div>
